.chart-container {
    position: absolute;
    height: 60vh;
    width: 35vw;
    padding: 7rem;
    background-color: rgba(180, 180, 180, 0.5);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #000;
}

.canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.canvas-wrapper {
    padding: 1rem;
    height: 800px;
    width: 100%;
}

.back-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 8px solid transparent;
    border-radius: 50% 0 0 100%;
    transform: rotate(-135deg);
}

.back-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%) rotate(135deg);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid rgba(128, 128, 128, 0.7);
}

.back-button:hover::before {
    border-right: 14px solid rgba(128, 128, 128, 0.7);
}

.back-button:hover::after {
    background-color: rgba(128, 128, 128, 0.7);
    border-right: 18px solid rgba(128, 128, 128, 0.7);
}

.back-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
}




